<html>
	<head>
		<script type="text/javascript" src="dygraph-combined.js"></script>
	</head>
	<body>
		<div style="width: 800px; height: 320px;" id="graphdiv_all"></div>
		<script type="text/javascript">
			g = new Dygraph(
				// containing div
				document.getElementById("graphdiv_all"),
				"<%=dygraph_format_avg(@records)%>",
				{
					errorBars: true
				}
			);
		</script>
		<div style="width: 800px; height: 320px;" id="graphdiv_ext"></div>
		<script type="text/javascript">
			g = new Dygraph(		
				// containing div
				document.getElementById("graphdiv_ext"),
				"<%=dygraph_format_ext(@records, true)%>",
				{
				}
			);
		</script>
	</body>
</html>
